{
  "env": {
    "test-node": {
      "presets": [ "@babel/preset-env" ]
    },
    "test-browser": {
      "presets": [ "@babel/preset-env" ],
      "plugins": [
        ["transform-rename-import", {
          "replacements": [
            { "original": "./crypto/rsa", "replacement": "../browser/rsa.js"},
            { "original": "./aes", "replacement": "../../browser/aes.js"}
          ]
        }]
      ]
    }
  }
}