{
  "env": {
    "build": {
      "presets": [
        ["latest", { "es2015": { "modules": false } }]
      ],
      "plugins": [
        "external-helpers"
      ]
    },
    "test-node": {
      "presets": [ "latest" ]
    },
    "test-browser": {
      "presets": [ "latest" ],
      "plugins": [
        ["transform-rename-import", [
          { "original": "./crypto/rsa", "replacement": "../browser/rsa.js"},
          { "original": "./aes", "replacement": "../../browser/aes.js"}
        ]]
      ]
    }
  }
}